BOT_TOKEN=bot token here

DB_URL=mongodb://localhost:27017/discordBot

#####################################################################################################
###                                                                                               ###
### DB_URL PATTERN: mongodb://user:pass@localhost:port/databaseName?authSource=authSourceDatabase ###
###                                                                                               ###
#####################################################################################################