git+https://github.com/defracted/discord.py@master#egg=discord.py
python-dotenv>=0.13.0
pep8
asyncpg>=0.20.1
autopep8
pytz>=2019.3
Pillow>=7.1.2
git+https://github.com/Rapptz/discord-ext-menus
aiohttp>=3.6.2
aioredis>=1.3.1